<h1>Welcome!</h1>
<h2>Wanna See Latest Books? Click <%= link_to "here", catalog_latest_path %>.</h2>
<br>
<h2>Here are some test accounts:</h2>
<h3>Administrator Account</h3>
<strong>Username:</strong> admin &nbsp; <strong>Password:</strong> admin
<h3>Common User Account</h3>
<strong>Username:</strong> user1 &nbsp; <strong>Password:</strong> pass1<br>
<strong>Username:</strong> user2 &nbsp; <strong>Password:</strong> pass2<br>
<strong>Username:</strong> user3 &nbsp; <strong>Password:</strong> pass3<br>
<strong>Username:</strong> user4 &nbsp; <strong>Password:</strong> pass4<br>
<strong>Username:</strong> user5 &nbsp; <strong>Password:</strong> pass5<br>
